################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/APIs/obj
/APIs/bin/Debug/net8.0
